<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharonWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SharonWpf.Properties.Settings>
            <setting name="s1m" serializeAs="String">
                <value>29240</value>
            </setting>
            <setting name="s1l" serializeAs="String">
                <value>27604</value>
            </setting>
            <setting name="s2m" serializeAs="String">
                <value>28043</value>
            </setting>
            <setting name="s2l" serializeAs="String">
                <value>28823</value>
            </setting>
            <setting name="s3m" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s3l" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s4m" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s4l" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s5m" serializeAs="String">
                <value>30343</value>
            </setting>
            <setting name="s5l" serializeAs="String">
                <value>29283</value>
            </setting>
            <setting name="s6m" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s6l" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s7m" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s7l" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s8m" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s8l" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s9m" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s9l" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>hi</value>
            </setting>
        </SharonWpf.Properties.Settings>
    </userSettings>
</configuration>